:root {
    --color-light-gray: #E5E7EB;
    --color-dark-gray: #333333;
    --color-black: #1C1C1C;
    --color-light-green: #6EDBBC;
    --color-light-red: #FF5E5B;
    --color-yellow: #FFED66;
    --color-mid-blue: #374957;

    --font-style-poppins: 'Poppins', sans-serif;
    --font-style-pacifico: 'Pacifico', sans-serif;
    --font-style-slackey: 'Slackey', sans-serif;

    --grid-cols: 1;
    --grid-rows: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

html, body {
    height: 100%;
    /* border: 2px solid red; */
}

/* (100%/16px)*10 = 62.5% */
html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: var(--font-style-poppins);
    font-size: 1.6rem; /* 16px */
    min-width: 42rem; /* 420px */
    background-color: var(--color-light-green);
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex: 1; 
}

.container-settings, .container-board {
    /* border: 2px solid violet; */
}

.container-settings, .container-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
}

button,
input[type='color'] {
    margin-bottom: 10px;
    transition: transform 0.1s ease-in-out;
}

button:hover,
input[type='color']:hover {
    transform: scale(1.05);
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
  /* -webkit-appearance: none; */
    width: 80px;
    height: 80px;
    border: none;
    align-self: center;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    background-color: var(--color-light-green);
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button[type='button'] {
    padding: 15px;
    border-radius: 5px; 
    border-style: none;
    width: 180px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

.fa-solid, .fa-regular {
    color: var(--color-mid-blue);
}

.slider-label {
    text-align: center;
    font-size: 20px;
    font-family: var(--font-style-slackey);
    color: var(--color-mid-blue);
}

.board, .rollers-arrows, .arrows-grid, 
.arrows, #grid, .left, .right {
    /* border: 2px solid yellow; */
}

.arrows-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.container-board {
    width: 800px;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* justify-content: space-evenly; */
    padding: 10px;
    background-color: var(--color-light-red);
    width: 600px;
    height: 600px;
    border-radius: 2%;
}

#grid {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    background-color: var(--color-light-gray);
    margin-top: 40px;
}

.grid-item {
    padding: 13px;
    width: 30px;
    height: 25x;
    border: 1px solid var(--color-dark-gray);
}

.rollers {
    display: flex;
    width: 100%;
    margin-top: 10px;
    /* border: 2px solid blue; */
}

.left-roller, .right-roller {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--color-light-gray)
}

h2 {
    font-family: var(--font-style-slackey);
    color: var(--color-yellow);
    margin: auto;
    /* border: 2px solid rosybrown; */
}

.left, .right {
    display: flex;
    gap: 5px;
    /* border: 2px solid yellow; */
}

.left {
    margin-right: 15px;
}

.right {
    flex-direction: column;
    margin-left: 15px;
}

.arrow-x, .arrow-y {
    width: 0; 
    height: 0; 
}

.arrow-x {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.arrow-y {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.arrow-right {
    border-left: 10px solid var(--color-light-gray);
}

.arrow-left {
    border-right: 10px solid var(--color-light-gray);
}

.arrow-up {
    border-bottom: 10px solid var(--color-light-gray);
}

.arrow-down {
    border-top: 10px solid var(--color-light-gray);
}

/* .left-roller, .right-roller {
    border: 1px solid var(--color-dark-gray);
} */

.fa-github {
    color: var(--color-light-gray);
    font-size: 2rem; /* 20px */
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

.footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* 10px */
    width: 100%;
    padding: 1rem; /* 10px */
    color: var(--color-light-gray);
    font-size: 1.5rem; /* 15px */
    background-color: var(--color-dark-gray);
}

/* ================================================================= */
/* Media Queries */

/* 480px / 16px = 30em */
/* Media query for screens with a maximum width of 480px */
@media only screen and (max-width: 30em) {
/* Styles for small mobile devices */
    html {
        font-size: 54%; 
    }
}
    
/* 481px / 16px = 30.0625em */
/* 768px / 16px = 48em */
/* Media query for screens with a minimum width of 481px and a maximum width of 768px */
@media only screen and (min-width: 30.6em) and (max-width: 48em) {
/* Styles for medium mobile devices and tablets */
    html {
        font-size: 56%; 
    }
}

/* 769px / 16px = 48.0625em */
/* 1024px / 16px = 64em */
/* Media query for screens with a minimum width of 769px and a maximum width of 1024px */
@media only screen and (min-width: 48.6em) and (max-width: 64em) {
/* Styles for smaller desktop devices and laptops */
    html {
        font-size: 58%;
    }
}

/* 1025px / 16px = 64.0625emem */
/* Media query for screens with a minimum width of 1025px */
@media only screen and (min-width: 64.6em) {
/* Styles for larger desktop devices and wide screens */
    html {
        font-size: 60%; 
    }
}

/* @media only screen
and (max-width: 30em),
(min-width: 30.6em) and (max-width: 48em), 
(min-width: 48.6em) and (max-width: 64em),
(min-width: 64.6em) {
} */

