:root {
    --color-light-gray: #E5E7EB;
    --color-dark-gray: #333333;
    --color-black: #1C1C1C;
    --color-white: #ffffff;
    --color-light-green: #6EDBBC;
    --color-light-red: #FF5E5B;
    --color-yellow: #FFED66;
    --color-mid-blue: #374957;

    --font-style-poppins: 'Poppins', sans-serif;
    --font-style-pacifico: 'Pacifico', sans-serif;
    --font-style-slackey: 'Slackey', sans-serif;

    --arrow-size: 1rem;
    --arrow-size-480: 0.5rem;
    --arrow-size-768: 1rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

html, body {
    height: 100%;
    overflow: auto;
}

/* (100%/16px)*10 = 62.5% */
html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: var(--font-style-poppins);
    font-size: 1.6rem; /* 16px */
    background-color: var(--color-light-green);
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex: 1; 
}

.container-settings, .container-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings {
    display: flex;
    flex-direction: column;
}

.buttons, .color-picker {
    margin-bottom: 1rem;
    transition: transform 0.1s ease-in-out;
    cursor: pointer;
}

.buttons:hover, .color-picker:hover {
    transform: scale(1.05);
}

.color-picker:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

.color-picker {
    -webkit-appearance: none;
    width: 8rem;
    height: 8rem;
    border: none;
    align-self: center;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
    background-color: var(--color-light-green);
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0 0.3rem 0.8rem;
}

.buttons {
    padding: 1.5rem;
    border-radius: 0.5rem;
    border-style: none;
    width: 18rem;
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.5);
}

/* .active-button {
    background-color: var(--color-yellow);
    transform: scale(1.05);
} */

#btnPencil:focus, #btnRainbow:focus, #btnErase:focus {
    background-color: var(--color-yellow);
    transform: scale(1.05);
    outline: none;
}

#btnClear:active {
    background-color: var(--color-yellow);
    transform: scale(1.05);
}

.fa-solid, .fa-regular {
    color: var(--color-mid-blue);
}

.slider-label {
    text-align: center;
    font-size: 2rem;
    font-family: var(--font-style-slackey);
    color: var(--color-mid-blue);
    margin-top: 0.5rem;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 0.8rem;
    border-radius: 0.5rem; 
    background: var(--color-white);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-top: 1rem;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%; 
    background: var(--color-mid-blue);
    cursor: pointer;
}

.arrows-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    background-color: var(--color-light-red);
    width: 60rem;
    height: 60rem;
    border-radius: 2%;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    width: 50rem;
    height: 45rem;
    justify-content: space-evenly;
    background-color: var(--color-white);
}

.arrows-grid {
    margin-top: 3.5rem;
}

.rollers {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.left-roller, .right-roller {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: var(--color-light-gray);
    border : 0.5rem dashed var(--color-mid-blue);
}

.rotate {
    transform: rotate(8deg);
 }

.left-roller {
    margin-left: 1rem;
}

.right-roller {
    margin-right: 1rem;
}

h2 {
    font-family: var(--font-style-slackey);
    color: var(--color-yellow);
    margin: auto;
}

.left, .right {
    display: flex;
    gap: 0.5rem;
}

.left {
    margin-right: 1.4rem;
}

.right {
    flex-direction: column;
    margin-left: 1.4rem;
}

.arrow-x, .arrow-y {
    width: 0; 
    height: 0; 
}

.arrow-x {
    border-top: var(--arrow-size) solid transparent;
    border-bottom: var(--arrow-size) solid transparent;
}

.arrow-y {
    border-left: var(--arrow-size) solid transparent;
    border-right: var(--arrow-size) solid transparent;
}

.arrow-right {
    border-left: var(--arrow-size) solid var(--color-light-gray);
}

.arrow-left {
    border-right: var(--arrow-size) solid var(--color-light-gray);
}

.arrow-up {
    border-bottom: var(--arrow-size) solid var(--color-light-gray);
}

.arrow-down {
    border-top: var(--arrow-size) solid var(--color-light-gray);
}

.fa-github {
    color: var(--color-light-gray);
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

.footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* 10px */
    width: 100%;
    padding: 1rem; /* 10px */
    color: var(--color-light-gray);
    font-size: 1.5rem; /* 15px */
    background-color: var(--color-dark-gray);
}

/* ================================================================= */
/* Media Queries */

/* Media query for screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
/* Styles for small mobile devices */
    main {
        display: flex;
        flex-direction: column;
    }

    .container-settings, .container-board {
        margin: 1rem 0.5rem 1rem 0.5rem;
    }

    .board {
        width: 100%;
        height: 35rem;
    }

    h2 {
        font-size: 1.5rem
    }

    #grid {
        width: 100%;
        height: 25rem;
    }

    .left-roller, .right-roller {
        width: 3rem;
        height: 3rem;
    }

    .left {
        margin-right: 0.6rem;
    }
    
    .right {
        flex-direction: column;
        margin-left: 0.6rem;
    }

    .arrow-x {
        border-top: var(--arrow-size-480) solid transparent;
        border-bottom: var(--arrow-size-480) solid transparent;
    }
    
    .arrow-y {
        border-left: var(--arrow-size-480) solid transparent;
        border-right: var(--arrow-size-480) solid transparent;
    }
    
    .arrow-right {
        border-left: var(--arrow-size-480) solid var(--color-light-gray);
    }
    
    .arrow-left {
        border-right: var(--arrow-size-480) solid var(--color-light-gray);
    }
    
    .arrow-up {
        border-bottom: var(--arrow-size-480) solid var(--color-light-gray);
    }
    
    .arrow-down {
        border-top: var(--arrow-size-480) solid var(--color-light-gray);
    }

    .footer {
        font-size: 1.2rem;
        padding: 0.7rem;
    }

}
    
/* Media query for screens with a minimum width of 481px and a maximum width of 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
/* Styles for medium mobile devices and tablets */
    main {
        display: flex;
        flex-direction: column;
    }

    .container-settings, .container-board {
        margin: 1rem 0.5rem 1rem 0.5rem;
    }

    .board {
        width: 50rem;
        height: 50rem;
    }

    #grid {
        width: 100%;
        height: 35rem;
    }

    .left-roller, .right-roller {
        width: 6rem;
        height: 6rem;
    }

    .left {
        margin-right: 1.4rem;
    }
    
    .right {
        flex-direction: column;
        margin-left: 1.4rem;
    }

    .arrow-x {
        border-top: var(--arrow-size-768) solid transparent;
        border-bottom: var(--arrow-size-768) solid transparent;
    }
    
    .arrow-y {
        border-left: var(--arrow-size-768) solid transparent;
        border-right: var(--arrow-size-768) solid transparent;
    }
    
    .arrow-right {
        border-left: var(--arrow-size-768) solid var(--color-light-gray);
    }
    
    .arrow-left {
        border-right: var(--arrow-size-768) solid var(--color-light-gray);
    }
    
    .arrow-up {
        border-bottom: var(--arrow-size-768) solid var(--color-light-gray);
    }
    
    .arrow-down {
        border-top: var(--arrow-size-768) solid var(--color-light-gray);
    }

    .footer {
        font-size: 1.3rem;
        padding: 0.8rem;
    }
}

/* Media query for screens with a minimum width of 769px and a maximum width of 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
/* Styles for smaller desktop devices and laptops */
    .container-settings, .container-board {
        margin: 1rem 0.5rem 1rem 0.5rem;
    }

    .board {
        width: 50rem;
        height: 50rem;
    }

    #grid {
        width: 100%;
        height: 35rem;
    }
}

/* Media query for screens with a minimum width of 1025px */
@media only screen and (min-width: 1025px) {
/* Styles for larger desktop devices and wide screens */
    .container-settings, .container-board {
        margin: 1rem 0.5rem 1rem 0.5rem;
    }
}